.animation-bounce {
    animation: move 3s infinite linear;
}

@keyframes move {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(10px);
    }
}

.sub-title {
    animation: fadeUp 5s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mapCard::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 116px;
    height: 4px;
    background: #fff;
}

.right::before {
    left: -116px;
}

.left::before {
    right: -116px;
}

.right-logo {
    left: -133px;
}

.left-logo {
    right: -133px;
}

.box-time {
    width: 34px;
    height: 34px;
    min-height: 34px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 44%;
}

.sub-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 36px;
    height: 5px;
    background: #fd562a;
}

h6 {
    animation: fadeInUp 1s ease-in-out 0s forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.perspective {
    transform: perspective(1000px) rotateX(0) rotateY(0) scale3d(1, 1, 1);
    transition: transform 4s ease 0s;
}

.perspective:hover {
    transform: perspective(1000px) rotateX(15deg) rotateY(15deg) scale3d(1, 1, 1);
}

.icon {
    transform: rotateY(360deg);
    transition: all 1s ease-in-out;
}

.icon:hover {
    transform: none;
    cursor: pointer;
}

.animation-btn:hover {
    color: #fd562a;
    background: #fff;
    font-weight: 500;
}

.technology_img {
    animation: swing ease-in-out 1s infinite alternate;
}

@keyframes swing {}

.spinner {
    width: 10em;
    height: 10em;
    border-top: 1em solid #6da9f5;
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: spinner 0.6s linear infinite;
}

.head {
    width: 1em;
    height: 1em;
    background-color: #6da9f5;
    border-radius: 50%;
    margin-left: 8.5em;
    margin-top: 0.5em;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg)
    }
}

.btn-action {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-family: "Gilroy-Bold";
}

.btn-action::before {
    left: -20px;
    transform: translate(-50%, -50%);
}

.btn-action::after,
.btn-action::before {
    position: absolute;
    z-index: -1;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fd562a;
    border-radius: 50%;
}

.header.is-fixed.is-small {
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: visible;
    background: #200b6a;
}

.logo:hover {
    opacity: 100%;
}

.heading-bg {
    font-size: 240px;
    letter-spacing: 24px;
    text-transform: uppercase;
}

.heading-bg span {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4425ad;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.title::after,
.title::before {
    content: '';
    position: absolute;
    top: 0.25em;
    left: -1.5em;
    width: 2px;
    height: 0.75em;
    background-color: #fff;
    transition: all 0.2s;
}

.title::after {
    transform: rotate(90deg);
}

.content {
    max-height: 0;
}

.toggle:checked+.title+.content {
    max-height: 500px;
}

.toggle:checked+.title::before {
    transform: rotate(90deg) !important;
}

button {
    position: relative;
    margin: 10px;
    border: 2px solid black;
    background: #fd562a;
    transition: all 300ms;
    z-index: 1;
    color: white;
    font-weight: 700;
    overflow: hidden;
}

button:hover {
    color: #fd562a;
}

button:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 300ms;
    background: white;
}

.fillskewopen::after {
    left: -20%;
    right: -20%;
    transform: skewX(50deg) scale(0, 1);
}

.fillskewopen:hover::after {
    transform: skewX(50deg) scale(1, 1);
}

.roadMap {
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: 60px;
}

.roadMap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-right: 0;
    margin-left: 0;
    width: 4px;
    height: 100%;
    background: #fff;
    border-radius: 2px;
    margin-top: 84px;
}

.log {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 6px solid #4526b1;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.team-logo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(253, 86, 42, 0.722);
    transition: all 0.3s ease-in-out;
}

.team-logo:hover {
    background-color: #fd562a;
    z-index: 50px;
}

.navItem::before,
.navItem::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #fd562a;
    transition: width 0.3s ease;
}

.navItem:hover {
    color: #fd562a;
    transition: all 0.3s;
}

.team-logo {
    backdrop-filter: blur(8px) brightness(80%);
    transition: all .3s ease-in-out;
}

.team-logo:hover {
    background: #fd562a;
}

.technology_img {
    animation: technology ease-in-out 3s infinite alternate;
}

@keyframes technology {
    50% {
        transform: rotate(10deg);
    }
}
.img-team:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(253, 86, 42, 0.722);
    transition: all 0.3s ease-in-out
}