.animation-bounce {
    animation: move 3s infinite linear;
}

@keyframes move {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(10px);
    }
}

.mapCard::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 116px;
    height: 4px;
    background: #fff;
}
.sub-title::after {
    background: #fd562a;
    height: 58px;
    width: 36px;
    bottom: 0;
    left: 0;
    position: absolute;
}
